<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Valentines Message</th>
    </tr>
  </thead>
  <tbody>
    <% @valentines.each do |valentine| %>
    <tr>
      <td> <%= valentine.name %> </td>
      <td> <%= valentine.message %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
